<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <title>To Do List</title>
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="toDo.css">
    </head>

    <body>

        <!DOCTYPE html>
<html>
<head>
  <title>SQL Schema</title>
</head>
<body>
  <h1>SQL Schema</h1>
  <table>
    <tr>
      <th>Column Name</th>
      <th>Column Type</th>
    </tr>
    <% columns.forEach(function(row) { %>
      <tr>
        <td><%= row.column_name %></td>
        <td><%= row.column_type %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>

        <!-- <form id="toDo">
            <div class="msg"></div>
            <div>
              <label for="ToDoname">Enter To Do Item Name:</label>
              <input type="name" id="ToDoname" required>
    
              <label for="Dsp">Description:</label>
              <textarea type="text" id="Dsp" rows="4" required></textarea>
             
              <input class="btn" type="submit" value="Add Item">

              <br><br><br><br>
              <div class="columns">
                <div class="column" id="toDolist">
                    <h2>Tasks Pending</h2>
                    <ul>
                        <!-- To Do's Pending List Items -->
                    </ul>
                </div>

                <div class="column" id="toDodone">
                    <h2>Don't  be lazy</h2>
                    <ul>
                        <!-- To Do's Accomplished List Items -->
                    </ul>
                </div>
            </div> <!--End of div class columns-->
              
              <br><br><br><br>
                
              
                               
            </div>
            </form>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script> 
            <script src="toDo.js"></script>
        </body>
        
     -->
    
</html>